<br/>
<hr>
<br/>

<footer class="footer-distributed container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>
                <a href="https://www.instagram.com/getredup" target="_blank"><i class="fa fa-instagram"></i></a> 
                <a href="https://www.facebook.com/getredup" target="_blank"><i class="fa fa-facebook"></i></a> 
                <a href="https://twitter.com/getredup" target= "_blank"><i class="fa fa-twitter"></i></a> 
            </h1>
        </div>
        <div class="col-lg-12 text-center">
            <!--<p class="footer-links">
                <a href="/">Home</a> · 
                <a href="gallery">Gallery</a> · 
                <a href="events">Events</a> · 
                <a href="recruitment">Recruitment</a> · 
                <a href="members">Members</a> · 
                <a href="alumni">Alumni</a> · 
                <a href="contact">Contact Us</a>
            </p>-->
            <p>{{site.title}} | &copy;{{ 'now' | date: "%Y" }}</p>
        </div>
    </div>
</footer>
